<nav>
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="https://www.emberjs.com/">Ember</a></li>
      <li><a href="https://materializecss.com/">Materialize</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>